        <script src="{{path_to_statics}}js/jquery-3.2.1.slim.min.js"></script>
        <script src="{{path_to_statics}}js/popper.min.js"></script>
        <script src="{{path_to_statics}}js/bootstrap.min.js"></script>
        <script src="{{path_to_statics}}js/scripts.js"></script>
    </body>
</html>