<!--########################HEADER#########################-->
<header class="">
    <div class="center-vertically">
        <h1 class="text-center">O. N. Soluções de Software LTDA</h1>
        <br/>
        <p class="lead text-center trn">Fornecemos serviços em desenvolvimento de software para potencializar seu empreendimento.</p>
        <p class="lead text-center"><a href="#about" class="trn">Conheça mais</a></p>
    </div>

    <a id="translate" onclick="translate()">Change to english</a>
</header>
