{{> acesso_publico/layouts/top_page_layout.mustache}}

{{> acesso_publico/layouts/header.mustache}}

<i onclick="topFunction()" id="myBtn" class="fas fa-chevron-up"></i>

<!--########################INTRO#########################-->
<section class="padt8"  id="about">
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <h3 class="trn">Sobre</h3>
                <p class="text-about trn">Somos uma empresa que presta serviços de consultoria e desenvolvimento de software. Sobre nossos serviços, podemos destacar:</p>
            </div>
        </div>
        <div class="row padt8">
            <div class="col-md text-center">
                <h5>D&M <span class="trn">de Paginas Web</span></h5>
                <p class="trn">Se trata do Desenvolvimento e Manutenção de páginas web, onde o foco é criar e manter páginas que poderão impulsionar seu empreendimento. Preços a partir de R$37,00.</p>
            </div>
            <div class="col-md text-center">
                <h5 class="trn">Consultoria em Presença Digital</h5>
                <p class="trn">Se trata em criar estratégias para aumentar a presença de seu empreendimento na internet, como nas redes sociais. Preços a partir de R$24,00.</p>
            </div>
            <div class="col-md text-center">
                <h5 class="trn">Desenvolvimento de Software</h5>
                <p class="trn">Se trata do desenvolvimento de softwares que irão solucionar problemas que afetam seu empreendimento ou servir como ferramenta de suporte. Preços a partir de R$45,00.</p>
            </div>
        </div>

        <div class="row padt13">
            <div class="col-md text-center">
                <a href="#contact"><i class="fas fa-chevron-down arrow-down"></i></a>
            </div>
        </div>
    </div>
</section>

<!--########################CONTACT#########################-->
<section class="center-vertically contact" id="contact">
    <div class="container">
        <h3 class="text-center trn">Contato</h3>
        <br/>
        <p class="text-center w-75 m-auto mt trn">Curioso ou em busca de mais informações? Entre em contato conosco clicando em um dos icones abaixo:</p>

        <br/>
        <p class="text-center w-75 m-auto">
            <a href="https://www.facebook.com/otavio.nathanael.18/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            &nbsp;
            <a id="email_icon" href="" target="_blank"><i class="fa fa-envelope"></i></a>
        </p>
    </div>
</section>

{{> acesso_publico/layouts/footer.mustache}}

{{> acesso_publico/layouts/bottom_page_layout.mustache}}
