{{> acesso_publico/layouts/top_page_layout.mustache}}

{{> acesso_publico/layouts/header.mustache}}

<i onclick="topFunction()" id="myBtn" class="fas fa-chevron-up"></i>

<!--########################INTRO#########################-->
<section class="padt8"  id="about">
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <h3 class="">Sobre</h3>
                <p class="text-about">Somos uma empresa que presta serviços de consultoria e desenvolvimento de software. Sobre nossos serviços, podemos destacar:</p>
            </div>
        </div>
        <div class="row padt8">
            <div class="col-md text-center">
                <h5 class="">D&M de Paginas Web</h5>
                <p>Se trata do Desenvolvimento e Manutenção e páginas web, onde o foco é criar e manter páginas que poderão impulsionar seu empreendimento.</p>
            </div>
            <div class="col-md text-center">
                <h5 class="">Consultoria em Presença Digital</h5>
                <p>Se trata em criar estratégias para aumentar a presença de seu empreendimento na internet, como nas redes sociais.</p>
            </div>
            <div class="col-md text-center">
                <h5 class="">Desenvolvimento de Software</h5>
                <p>Se trata do desenvolvimento de softwares que irão solucionar problemas que afetam seu empreendimento ou servir como suporte ao mesmo.</p>
            </div>
        </div>

        <div class="row padt13">
            <div class="col-md text-center">
                <a href="#contact"><i class="fas fa-chevron-down arrow-down"></i></a>
            </div>
        </div>
    </div>
</section>

<!--########################CONTACT#########################-->
<section class="center-vertically contact" id="contact">
    <div class="container">
        <h3 class="text-center">Contato</h3>
        <br/>
        <p class="text-center w-75 m-auto mt">Curioso ou em busca de mais informações? Entre em contato conosco clicando em um dos icones abaixo:</p>

        <br/>
        <p class="text-center w-75 m-auto">
            <a href="https://www.facebook.com/otavio.nathanael.18/" target="_target"><i class="fab fa-facebook-square"></i></a>
            &nbsp;
            <a href="https://mail.google.com/a/?view=cm&fs=1&to=contato@easymd.com.br" target="_target"><i class="fa fa-envelope"></i></a>
        </p>
    </div>
</section>

{{> acesso_publico/layouts/footer.mustache}}

{{> acesso_publico/layouts/bottom_page_layout.mustache}}
