        <script src="{{path_to_statics}}js/jquery-3.4.1.min.js"></script>
        <script src="{{path_to_statics}}js/bootstrap.min.js"></script>
        <script>
            {{load_translate_js}}
        </script>

        <script>
            {{load_script_js}}
        </script>
    </body>
</html>