<!doctype html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>O.N Soluções de Software</title>
        <script src="https://kit.fontawesome.com/e940723884.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{path_to_statics}}css/bootstrap.min.css">
        <style media="all">
            {{load_style_css}}
        </style>

    </head>

    <body>
